# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# log files
*.log

# htaccess
/.htaccess

# Jekyll
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local