<!DOCTYPE html>
<html lang="en-us">

  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      extensions: ["tex2jax.js"],
      jax: ["input/TeX", "output/HTML-CSS"],
      tex2jax: {
        inlineMath: [ ['$','$'], ["\\(","\\)"] ],
        displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
        processEscapes: true
      },
      "HTML-CSS": { 
        availableFonts: ["TeX"],
        scale: 85,
        mtextFontInherit: true
      }
    });
  </script>
  <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>

  {% include head.html %}

  <body>

  div {
    text-align: justify;
    text-justify: auto;
  }

    {% include sidebar.html %}

    <div class="content container">
      {{ content }}
    </div>

  </body>
</html>